[Unit]
Description=Buckit Object Storage
Documentation=https://github.com/buckit-io/buckit
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable=/usr/local/bin/buckit

[Service]
Type=notify

WorkingDirectory=/usr/local

User=buckit
Group=buckit
ProtectProc=invisible

EnvironmentFile=-/etc/default/minio
ExecStart=/usr/local/bin/buckit server $MINIO_OPTS $MINIO_VOLUMES

# Let systemd restart this service always
Restart=always

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=1048576

# Turn-off memory accounting by systemd, which is buggy.
MemoryAccounting=no

# Specifies the maximum number of threads this process can create
TasksMax=infinity

# Disable timeout logic and wait until process is stopped
TimeoutSec=infinity

# Disable killing of Buckit by the kernel's OOM killer
OOMScoreAdjust=-1000

SendSIGKILL=no

[Install]
WantedBy=multi-user.target
